* {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #111827;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

header {
  height: 90px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 1.2rem; */
  min-height: calc(100svh - 90px);
  padding: 24px;
}

.panorama {
  width: 100%;
}

h1 {
  margin: 1rem 0;
}

.john-avatar {
  width: 50vw;
  border: none;
  border-radius: 50%;
}

p {
  max-width: 80vw;
}

.buttons {
  /* margin: 1.9rem 0; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.btn {
  background-color: green;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  color: #f9fafb;
  padding: 0.75rem 1.5rem;
}
