<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personalia</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <img
        class="panorama"
        src="./images/panorama-original-1920.webp"
        alt="panorama picture of a mountain"
      />
    </header>
    <main>
      <section class="hero">
        <h1>John Engnæs</h1>
        <img
          class="john-avatar"
          src="./images/john-avatar.webp"
          alt="A bad picture of Johns face"
        />
        <h2>Practicing since 2026</h2>
        <p>48 year old norwegian male, born 13th of august 1977.</p>
        <p>
          Grew up in Våle, Vestfold, Norway, but have lived in the general
          Tonsberg area since the age of 19.
        </p>
        <p>
          Worked in menial jobs most of my life, until health issues made me
          (allowed me to) look at less physical demanding options.
        </p>
      </section>
    </main>
  </body>
</html>
